<div class="block">
  @for (entry of contentEntries; track $index; let e = $even) {
    <div class="container" data-aos="fade-up">
      <div class="content" [class.left]="e" [class.right]="!e">
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.author }}, {{ entry.year }}</p>
      </div>
      <div class="video" [class.left]="!e" [class.right]="e">
        <div class="video-wrapper">
          <iframe
            [src]="entry.videoId | safe"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  }
</div>
