<header>
  <h1>Yes, you can TAS PC games!</h1>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/YaLTeR/SourcePauseTool">SourcePauseTool</a>
      </li>
      <li>
        <a href="https://github.com/p2sr/SourceAutoRecord">SourceAutoRecord</a>
      </li>
      <li>
        <a href="https://github.com/lipsanen/TASQuake">TASQuake</a>
      </li>
      <li>
        <a href="https://github.com/YaLTeR/BunnymodXT">BunnymodXT</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <app-timeline></app-timeline>
</main>
